* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
    color: #212529;
}



.nav-header {
    width: 100%;
    height: 92px;
    max-width: 100%;
    padding: 16px 14.84%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.logo {
    width: 20%;
    height: auto;
}

.logo-text {
    color: #4F9CF9;
    font-weight: 700;
    font-size: 28px;
    line-height: 33.89px;
    width: 75.37%;
}



.nav-links {
    column-gap: 20px;
}

.nav-menu {
    margin: 0px;
    column-gap: 32px;
    padding: 0px 75.5px 0px 0px;
}

.Menus {
    font-family: 'DM sans';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    column-gap: 10px;
    color: #4F9CF9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Menus a {
    text-decoration: none;
    color: #4F9CF9;
}

.nav-buttons {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.login-btn {
    height: 60px;
    width: 126px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 16px 40px;
    color: #043873;
    background-color: #FFE492;
    border: none;
}

.tryWSF-btn {
    height: 60px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    column-gap: 10px;
    padding: 16px 24px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    box-sizing: border-box;
}

.nav-list {
    display: none;
}




.section1 {
    margin: 0px;
    width: 100%;
    padding: 140px 11.45%;
}

.section1-1 {
    width: 100%;
}

.section1-1-1 {
    row-gap: 60px;
    width: 44.32%;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.section1-container {
    row-gap: 24px;
    flex-direction: column;
    display: flex;
}

.section1-heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
    color: #4F9CF9;
}

.section1-content {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
    color: #4F9CF9;
    height: fit-content;
}

.section1-1-2 {
    height: 549px;
    width: 55.67%;
    background-color: #C4DEFD;
}


.TWF-btn {
    height: 63px;
    width: 219px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    border: none;
    column-gap: 10px;
    color: white;
    background-color: #4F9CF9;
    justify-content: center;
}







.section2 {
    margin: 0px;
    width: 100%;
    padding: 140px 11.45%;
}


.section2-1 {
    width: 100%;
}

.section2-1-1 {
    row-gap: 60px;
    width: 44.32%;
    height: fit-content;
    flex-direction: column;
    margin-right: 60px;

}

.section2-container {
    row-gap: 24px;
    flex-direction: column;
}

.section2-heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
}

.section2-content {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
    height: fit-content;
}


.section2-1-2 {
    height: 549px;
    width: 55.67%;
    background-color: #C4DEFD;
}



.section3 {
    width: 100%;
    column-gap: 100px;
    padding-top: 100px;

}

.WTImg {
    width: 48%;
}

.section3-1 {
    flex-direction: column;
    row-gap: 60px;
    width: 45.27%;
}

.section3-head {
    font-weight: 700;
    font-size: 72px;
    line-height: 87.14px;
    margin: 0px;
    position: relative;
}

.section3-content {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
    height: fit-content;
}

.section4 {
    margin: 0px;
    width: 100%;
    padding: 140px 11.45%;
}

.section4-1 {
    width: 100%;
}

.section4-1-1 {
    row-gap: 60px;
    width: 44.32%;
    height: fit-content;
    flex-direction: column;
}

.section4-container {
    row-gap: 24px;
    flex-direction: column;

}

.section4-heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
}

.section4-content {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
    height: fit-content;
}

.section4-1-2 {
    height: 479px;
    width: 46.32%;
    background-color: #C4DEFD;
}

.section5 {
    box-sizing: border-box;
    width: 100%;
    padding: 140px 11.45%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section5-1 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    row-gap: 60px;
    align-items: center;
    height: auto;
}

.section5-1-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 24px;
    width: 100%;
}

.section5-heading {
    font-weight: 700;
    font-size: 72px;
    line-height: 87.14px;
    margin: 0px;
    position: relative;
}

.section5-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    height: fit-content;
    width: 979px;
}

.section5-cards {
    width: 100%;
    display: flex;
    column-gap: 32px;
    align-items: center;
    height: auto;
    overflow: auto;
    padding: 15px 0px;
}

.plan-card {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    border-radius: 10px;
    border: 1px solid #FFE492;
    padding: 40px 44px;
    color: #212529;
    box-sizing: border-box;
    width: 31.89%;
}


.plan-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.plan-price {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.57px;

}

.plan-description {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.plan-features {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.highlighted-card {
    padding: 80px 44px;
    color: #043873;
    border: none;
    box-shadow: 0px 4px 50px 0px #00000014;
}

.highlighted-card * {
    color: #043873;
}

.GetStarted-btn {
    padding: 16px 40px;
    margin: 0px;
    width: 166px;
    height: 51px;
    border-radius: 8px;
    border: 1px solid ;
    border-color: #FFE492;
    background-color: #FFFFFF;
}


@media screen and (max-width: 1440px) {
    .nav-header {
        padding: 16px 32px;
    }

    .section1 {
        padding: 100px 32px;
    }

    .section1-1-1 {
        width: 47.98%;
    }

    .section1-1-2 {
        height: 456.39px;
        width: 47.57%;
    }



    .section2 {
        padding: 100px 32px;
    }

    .section2-1-1 {
        width: 47.98%;
    }

    .section2-1-2 {
        height: 456.39px;
        width: 47.57%;
    }

    .section3 {
        column-gap: 160px;
    }

    .section3-1 {
        width: 46%;
    }

    .WTImg {
        width: 42.36%;

    }


    .section4 {
        padding: 100px 32px;
    }

    .section4-1-1 {
        width: 41.11%;
    }

    .section4-1-2 {
        height: 456.39px;
        width: 47.63%;
    }

    .section5 {
        padding: 140px 32px;
    }
}



@media screen and (max-width: 1152px) {

    .nav-menu {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        width: 42px;
        height: 34px;
    }

    .Btn {
        display: block;
        margin: 0;
    }


    .section1 {
        padding: 140px 32px;
    }

    .section1-1-1 {
        width: 51.65%;
    }

    .section1-1-2 {
        height: 350.45px;
        width: 48.34%;
    }


    .section2 {
        padding: 140px 32px;
    }

    .section2-1-1 {
        width: 51.65%;
    }

    .section2-1-2 {
        height: 350.45px;
        width: 48.34%;
    }

    .section4 {
        padding: 140px 32px;
    }

    .section4-1-1 {
        width: 45.83%;
    }

    .section4-1-2 {
        height: 350.45px;
        width: 39.84%;
    }

    .section5-heading {
        font-size: 64px;
        line-height: 77.45px;
    }

    .section5-1 {
        bottom: 0px;
    }

    .section5-content {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .nav-header {
        height: 66px;
        padding: 16px 4.167%;
    }

    .whitespace-logo {
        height: 34px;
        width: 191px;
    }

    .nav-buttons {
        display: none;
    }



    .section1 {
        padding: 140px 20px;
    }

    .section1-1 {
        flex-direction: column;
        row-gap: 100px;
        align-items: center;
    }

    .section1-1-1 {
        align-items: center;
        width: 100%;
    }

    .section1-container {
        align-items: center;
        text-align: center;
    }

    .section1-heading {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }

    .TWF-btn {
        height: 70px;
        width: 232px;
        font-weight: 400;
        line-height: 30px;
    }

    .section1-1-2 {
        width: 75.68%;
        height: auto;
        aspect-ratio: 551 / 367;
        box-sizing: border-box;
    }


    .section2 {
        padding: 140px 20px;
    }

    .section2-1 {
        flex-direction: column;
        row-gap: 100px;
        align-items: center;
    }

    .section2-1-1 {
        margin-right: 0;
        align-items: center;
        width: 100%;
    }

    .section2-container {
        align-items: center;
        text-align: center;
    }

    .section2-heading {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }

    .section2-1-2 {
        width: 75.68%;
        height: auto;
        aspect-ratio: 551 / 367;
        box-sizing: border-box;
    }


    .section3 {
        flex-direction: column-reverse;
        row-gap: 100px;
        column-gap: 0px;
        align-items: center;
        margin: 0 auto;
    }

    .section3-1 {
        width: 100%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .section3-1-container {
        align-items: center;
        text-align: center;
    }

    .section3-head {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
        text-align: center;
    }

    .section3-content {
        text-align: center;
    }

    .WTImg {
        width: 62.36%;
        ;
    }



    .section4 {
        padding: 140px 20px;
    }

    .section4-1 {
        flex-direction: column;
        row-gap: 100px;
        align-items: center;
    }

    .section4-1-1 {
        align-items: center;
        width: 100%;
    }

    .section4-container {
        align-items: center;
        text-align: center;
    }

    .section4-heading {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }


    .section4-1-2 {
        width: 72.52%;
        height: auto;
        aspect-ratio: 557 / 388.93;
        box-sizing: border-box;
    }

    .section5 {
        padding: 140px 0px;
    }

    .section5-heading {
        font-size: 54px;
    }
}


@media screen and (max-width: 320px) {
    body {
        background-position-y: 0px;
    }


    .nav-header {
        height: 56px;
        padding: 16px;
        width: 100%;
    }

    .whitespace-logo {
        height: 24px;
        width: 134px;
    }

    .logo-text {
        color: #4F9CF9;
        font-weight: 700;
        font-size: 19.64px;
        line-height: 23.77px;
    }

    .nav-list {
        height: 24px;
    }


    .section1 {
        padding: 80px 5%;
    }

    .section1-1-1 {
        height: fit-content;
    }

    .section1-container {
        height: fit-content;
    }

    .section1-heading {
        font-size: 36px;
        line-height: 43.57px;
    }

    .section1-1-2 {
        width: 100%;
        aspect-ratio: 288 / 191;
    }


    .section2 {
        padding: 80px 5%;
    }

    .section2-1-1 {
        height: fit-content;
    }

    .section2-container {
        height: fit-content;
    }

    .section2-heading {
        font-size: 36px;
        line-height: 43.57px;
    }

    .section2-1-2 {
        width: 100%;
        aspect-ratio: 288 / 191;
    }

    .section3-1 {
        height: fit-content;
    }

    .section3-1-container {
        height: fit-content;
    }

    .section3-head {
        font-size: 36px;
        line-height: 43.57px;
    }

    .sub32 {
        width: 100%;
    }


    .section4 {
        padding: 80px 5%;
    }

    .section4-1-1 {
        height: fit-content;
    }

    .section4-container {
        height: fit-content;
    }

    .section4-heading {
        font-size: 36px;
        line-height: 43.57px;
    }

    .section4-1-2 {
        width: 100%;
        aspect-ratio: 284 / 198;
    }

    .section5-heading {
        font-size: 36px;
        line-height: 43.57px;

    }

}