* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
}


body {
    color: #212529;
}


.nav-header {
    width: 100%;
    height: 92px;
    max-width: 100%;
    padding: 16px 14.84%;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.logo {
    width: 20%;
    height: auto;
}

.color1 {
    color: #4F9CF9;
}

.color2 {
    color: #FFE492;
}

.logo-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 33.89px;
    width: 75.37%;
}

.nav-links {
    column-gap: 20px;
}

.nav-menu {
    margin: 0px;
    column-gap: 32px;
    padding: 0px 75.5px 0px 0px;
}

.Menus {
    font-family: 'DM sans';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Menus a {
    text-decoration: none;
    color: #4F9CF9;
}

.nav-buttons {
    column-gap: 24px;
}

.login-btn {
    height: 60px;
    width: 126px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 16px 40px;
    color: #043873;
    background-color: #FFE492;
    border: none;
}

.tryWSF-btn {
    height: 60px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    column-gap: 10px;
    padding: 16px 24px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    white-space: nowrap;
}

.nav-list {
    display: none;
}

.section1 {
    margin: 0px;
    width: 100%;
    padding: 140px 11.45%;
}

.section1-1 {
    width: 100%;
}

.section1-1-1 {
    row-gap: 60px;
    width: 44.32%;
    height: fit-content;
    flex-direction: column;
}

.section1-container {
    row-gap: 24px;
    flex-direction: column;
}

.section1-heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
}

.section1-content {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
    height: fit-content;
}

.section1-1-2 {
    height: 549px;
    width: 55.67%;
    background-color: #C4DEFD;
}


.TWF-btn {
    height: 63px;
    width: 219px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    border: none;
    column-gap: 10px;
    color: white;
    background-color: #4F9CF9;
    justify-content: center;
}






.section2 {
    margin: 0px;
    width: 100%;
    padding: 140px 11.45%;
}


.section2-1 {
    width: 100%;
}

.section2-1-1 {
    row-gap: 60px;
    width: 44.32%;
    height: fit-content;
    flex-direction: column;
    margin-right: 60px;

}

.section2-container {
    row-gap: 24px;
    flex-direction: column;
}

.section2-heading {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
}

.section2-content {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
    height: fit-content;
}


.section2-1-2 {
    height: 549px;
    width: 55.67%;
    background-color: #C4DEFD;
}

.BG1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: auto; 
    z-index: -1;
}

.section3 {
    width: 100%;
    column-gap: 100px;
    padding-top: 100px;

}

.WTImg {
    width: 48%;
}

.section3-1 {
    flex-direction: column;
    row-gap: 60px;
    width: 45.27%;
}

.section3-head {
    font-weight: 700;
    font-size: 72px;
    line-height: 87.14px;
    margin: 0px;
    position: relative;
    display: inline-block;
}

.section3-content {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
    height: fit-content;
}

.section4 {
    margin: 0px;
    width: 100%;
    padding: 140px 11.45%;
}

.section4-1 {
    width: 100%;
}

.section4-1-1 {
    row-gap: 60px;
    width: 44.32%;
    height: fit-content;
    flex-direction: column;
}

.section4-container {
    row-gap: 24px;
    flex-direction: column;

}

.section4-heading {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
}

.BG4 {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%; 
    height: auto; 
    z-index: -1;
}

.section4-heading .underline-needs {
    position: relative;
}

.section4-heading .underline-needs .BG4 {
    left: 0;
}

.underline-your-needs{
    display: none;
}

.section4-content {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
    height: fit-content;
}

.section4-1-2 {
    height: 479px;
    width: 46.32%;
    background-color: #C4DEFD;
}

.section5 {
    width: 100%;
    padding: 140px 11.45%;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.section5-1 {
    flex-direction: column;
    width: 100%;
    row-gap: 60px;
    align-items: center;
    height: auto;
}

.section5-1-1 {
    flex-direction: column;
    text-align: center;
    row-gap: 24px;
    width: 100%;
}

.section5-heading {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 72px;
    line-height: 87.14px;
    margin: 0px;
}
.BG5 {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: auto; 
    z-index: -1; 
}



.section5-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    height: fit-content;
    width: 979px;
}


.section5-cards {
    width: 100%;
    column-gap: 32px;
    height: auto;
    overflow: auto;
    padding: 15px 0px;
}

.plan-card {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    border-radius: 10px;
    border: 1px solid #FFE492;
    padding: 40px 44px;
    color: #212529;
    width: 31.89%;
}


.plan-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.plan-price {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.57px;

}

.plan-description {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.plan-features {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.highlighted-card {
    padding: 80px 44px;
    color: #043873;
    border: none;
    box-shadow: 0px 4px 50px 0px #00000014;
}

.highlighted-card * {
    color: #043873;
}

.GetStarted-btn {
    padding: 16px 40px;
    width: 166px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #FFE492;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 500;
    white-space: nowrap;
}

.featured-btn {
    background-color: #4F9CF9;
    color: #FFFFFF;

}


.section5-2 {
    display: none;
}

.section6 {
    background-color: #043873;
    margin: 0px;
    width: 100%;
    padding: 140px 11.45%;
    justify-content: center;
    position: relative;
}

.section6-1 {
    width: 100%;
    flex-direction: column;
    row-gap: 60px;
    height: fit-content;
}

.section6-container {
    width: 100%;
    flex-direction: column;
    row-gap: 24px;
    height: fit-content;
}

.section6-heading {
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 72px;
    line-height: 87.14px;
    letter-spacing: -2%;
    height: fit-content;
    display: inline-block;
    z-index: 4;
}

.BG2 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%; 
    height: auto; 
    z-index: 1; 
}

.section6-content {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    height: fit-content;
    letter-spacing: -2%;
    width: 1064px;
}
.Background-Image6{
    position: absolute;
    z-index: 0;
    right: 74%;
    bottom: -15%;
    opacity: 0.5;
}

.TT-btn {
    height: 63px;
    width: 195px;
    background-color: #4F9CF9;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -2%;
    column-gap: 10px;
    justify-content: center;
}


.section7 {
    margin: 0px;
    width: 100%;
    padding: 140px 11.458%;
}

.section7-1 {
    width: 100%;
}

.section7-1-1 {
    flex-direction: column;
    row-gap: 60px;
    width: 54.05405405%;
}

.section7-container {
    flex-direction: column;
    row-gap: 24px;
}

.section7-heading {
    font-weight: 700;
    font-size: 72px;
    line-height: 87.14px;
    margin: 0px;
    position: relative;
}

.section7-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    height: fit-content;
}

.data-img {
    width: 45.94%;
}

.RM-btn {
    height: 63px;
    width: 197px;
    background-color: #4F9CF9;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    column-gap: 10px;
    justify-content: center;
}

.section8 {
    margin: 0px;
    width: 100%;
    padding: 140px 11.45%;
    justify-content: center;
}

.section8-1 {
    width: 100%;
    flex-direction: column;
    row-gap: 100px;
    height: fit-content;

}

.section8-heading {
    position: relative;
    font-weight: 700;
    font-size: 72px;
    line-height: 87.14px;
    margin: 0px;
    text-align: center;
}

.section8-logos {
    width: 100%;
    justify-content: space-between;
    height: fit-content;
}


.section9 {
    margin: 0px;
    width: 100%;
    padding: 140px;
    background-color: #043873;
    background-image: url("Work Fav Apps Background.png");
    background-repeat: no-repeat;
}

.section9-1 {
    width: 100%;
    column-gap: 100px;
}

.section9-1-1 {
    flex-direction: column;
    row-gap: 60px;
    width: 53.91%;
}

.section9-container {
    flex-direction: column;
    row-gap: 24px;
}

.section9-heading {
    color: white;
    font-weight: 700;
    font-size: 72px;
    line-height: 87.14px;
    margin: 0px;
}

.section9-content {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    height: fit-content;
}

.Apps-Img {
    width: 39.32%;
    aspect-ratio: 582 / 470.8;
}

.RM2-btn {
    height: 63px;
    width: 194px;
    color: white;
    background-color: #4F9CF9;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    column-gap: 10px;
    justify-content: center;
}

.section10 {
    width: 100%;
    padding: 140px 11.45%;
    margin: 0px;
    justify-content: center;
    height: auto;
}

.section10-1 {
    flex-direction: column;
    width: 100%;
    row-gap: 60px;
    height: auto;
    text-align: center;
}

.section10-1-1 {
    position: relative;
}

.section10-heading {
    font-weight: 700;
    font-size: 72px;
    line-height: 87.14px;
    margin: 0px;
}

.section10-1-2 {
    width: 100%;
    column-gap: 32px;
    align-items: center;
    height: auto;
    overflow: auto;
}

.Card-View {
    flex-direction: column;
    color: white;
    row-gap: 49px;
    padding: 60px 40px;
    background-color: #4F9CF9;
    border-radius: 10px;
}

.Highlighted-CardView {
    color: #01252A;
    background-color: white;
    box-shadow: 10px 10px 50px 0px #00000014;
}

.Card-View-Header {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    flex-direction: column;
    row-gap: 35px;
    text-align: left;
}

.CV-Img {
    width: 70px;
    height: 70px;
}

.Card-View-PersonInfo {
    column-gap: 53px;
    align-items: start;
}

.Card-View-Names {
    flex-direction: column;
    row-gap: 4px;
    font-size: 18px;
    text-align: start;
}

.Name {
    font-weight: 700;
    line-height: 21.78px;
}

.Details {
    font-weight: 400;

    line-height: 30px;
}

.rating {
    column-gap: 7px;
}

.star {
    width: 15px;
    height: 15px;
    color: #ffe492;
}


.Arrow-Nav {
    column-gap: 100px;
}

.horizontal-bullets2 {
    display: none;
}

.footer-section {
    background-color: #043873;
    width: 100%;
    margin: 0px;
    padding: 140px 11.45% 32px 11.45%;
    color: white
}

.footer-container {
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
}

.footer-top {
    width: 100%;
    column-gap: 50px;
    padding-bottom: 70px;
    border-bottom: 1px solid #2E4E73;
}

.footer-branding {
    flex-direction: column;
    row-gap: 15px;
    flex: 1;
    color: white;
}

.footer-logo {
    font-weight: 700;
    font-size: 28px;
    line-height: 33.89px;
    column-gap: 10px;
}

.footer-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.footer-links {
    flex-direction: column;
    row-gap: 15px;
    flex: 1;
    color: white;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
}

.footer-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.footer-btns {
    flex-direction: column;
    row-gap: 23px;
    color: white;
    flex: 1;
}

.footer-btns-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.footer-btns-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.footer-btn {
    width: 186px;
    height: 60px;
    border-radius: 8px;
    padding: 20px 30px;
    background-color: #4F9CF9;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    column-gap: 10px;
    justify-content: center;
}

.footer-bottom {
    width: 100%;
}

.footer-bottom a {
    text-decoration: none;
    color: white;
}

.footer-info {
    column-gap: 60px;
    white-space: nowrap;
}

.footer-info a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.footer-social-medias {
    align-items: center;
    column-gap: 32px;
}

.Global {
    align-items: center;
    column-gap: 8px;
}


.underline {
    position: relative;
    display: inline-block;
}

.underline img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: auto;
    z-index: -1;
}


.underline-management img {
    width: 105%; 
}

.underline-together img {
    width: 100%; 
}

.underline-customise img {
    width: 100%; 
}



.plan-radio {
    display: none;
}

.section5-cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    transition: all 0.5s ease-in-out;
}


#plan1:checked ~ .section5-cards,


#plan2:checked ~ .section5-cards,



#plan3:checked ~ .section5-cards,


.underline-your-data img {
    width: 100%;
}


.underline-sponsors img {
    width: 100%;
}

.underline-trusted img {
    width: 100%;
}


.underline-plan img {
    width: 100%;
}

.underline-you-are img {
    width: 100%;
}

.horizontal-bullets li, .horizontal-bullets2 li {
    width: 12px;
    height: 12px;
    background-color: #4F9CF9;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.horizontal-bullets li label, .horizontal-bullets2 li label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.underline-plan img {
    width: 100%;
}


@media screen and (max-width: 1440px) {
    .nav-header {
        padding: 16px 32px;
    }

    .section1 {
        padding: 100px 32px;
    }

    .section1-1-1 {
        width: 47.98%;
    }

    .section1-1-2 {
        height: 456.39px;
        width: 47.57%;
    }



    .section2 {
        padding: 100px 32px;
    }

    .section2-1-1 {
        width: 47.98%;
    }

    .section2-1-2 {
        height: 456.39px;
        width: 47.57%;
    }

    .section3 {
        column-gap: 160px;
    }

    .section3-1 {
        width: 46%;
    }

    .WTImg {
        width: 42.36%;

    }


    .section4 {
        padding: 100px 32px;
    }

    .section4-1-1 {
        width: 41.11%;
    }

    .section4-1-2 {
        height: 456.39px;
        width: 47.63%;
    }

    .section4-heading .underline-your-needs {
        position: relative;
    }

    .section4-heading .underline-your-needs .BG4 {
        left: 0;
    }

    .section5 {
        padding: 140px 32px;
    }

    .section6 {
        padding: 140px 32px;
    }

    .section7 {
        padding: 100px 32px;
    }

    .section7-1-1 {
        width: 48.26%;
    }

    .data-image {
        width: 51.73%;
    }

    .section8 {
        padding: 140px 32px;
    }

    .section9 {
        padding: 100px 32px;
    }

    .section9-1-1 {
        width: 48.19%;
    }

    .Apps-Img {
        width: 40.41%;
    }

    .section10 {
        padding: 140px 32px;
    }

    .footer {
        padding: 140px 32px 32px 32px;
    }
    .underline-customise img {
        width: 120%; 
    }

}



@media screen and (max-width: 1152px) {

    .nav-menu {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        width: 42px;
        height: 34px;
    }

    .Btn {
        display: block;
        margin: 0;
    }


    .section1 {
        padding: 140px 32px;
    }

    .section1-1-1 {
        width: 51.65%;
    }

    .section1-1-2 {
        height: 350.45px;
        width: 48.34%;
    }


    .section2 {
        padding: 140px 32px;
    }

    .section2-1-1 {
        width: 51.65%;
    }

    .section2-1-2 {
        height: 350.45px;
        width: 48.34%;
    }

    .section4 {
        padding: 140px 32px;
    }

    .section4-1-1 {
        width: 45.83%;
    }

    .section4-1-2 {
        height: 350.45px;
        width: 39.84%;
    }

    .section4-heading .underline-needs {
        position: relative;
    }

    .section4-heading .underline-needs .BG4 {
        left: 0;
    }

    .section5-heading {
        font-size: 64px;
        line-height: 77.45px;
    }

    .section5-1 {
        bottom: 0px;
    }

    .section5-content {
        width: 100%;
    }

    .section6 {
        justify-content: left;
        text-align: left;
    }
    .Background-Image6{
        display: none;
    }

    .section6-1 {
        text-align: left;
        width: 650px;
        text-align: left;
        align-items: flex-start;
    }

    .section6-container {
        text-align: left;
        align-items: left;
    }

    .section6-heading {
        font-size: 64px;
        line-height: 77.45px;
    }

    .section6-content {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .TT-btn {
        align-items: center;
    }

    .section7 {
        padding: 140px 32px;
    }

    .section7-heading {
        font-weight: 700;
        font-size: 64px;
        line-height: 77.45px;
    }

    .section8-heading {
        font-size: 64px;
        line-height: 77.45px;
        font-weight: 700;

    }

    .section9 {
        padding: 140px 32px;
    }

    .section9-heading {
        font-weight: 700;
        font-size: 64px;
        line-height: 77.45px;
    }

    .section9-1-1 {
        width: 44.27%;
    }

    .Apps-Img {
        width: 50.529%;
        aspect-ratio: 528 / 427.11;
    }

    .section10 {
        padding: 140px 32px 100px 32px;
    }

    .section10-1 {
        font-size: 64px;
        line-height: 77.45px;
    }

    .Card-View {
        padding: 20px;
        min-width: 341.33px;
    }

    .footer-top {
        column-gap: 4.59%;
    }

    .footer-info {
        column-gap: 5.2%;
    }

    .footer-social-medias {
        column-gap: 32px;
    }

    .footer-section {
        padding: 140px 2.77% 32px 2.77%;
    }

    .underline-customise img {
        width: 100%; 
    }
}


@media screen and (max-width: 768px) {
    .nav-header {
        height: 66px;
        padding: 16px 4.167%;
    }

    .whitespace-logo {
        height: 34px;
        width: 191px;
    }

    .nav-buttons {
        display: none;
    }



    .section1 {
        padding: 140px 20px;
    }

    .section1-1 {
        flex-direction: column;
        row-gap: 100px;
        align-items: center;
    }

    .section1-1-1 {
        align-items: center;
        width: 100%;
    }

    .section1-container {
        align-items: center;
        text-align: center;
    }

    .section1-heading {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }

    .TWF-btn {
        height: 70px;
        width: 232px;
        font-weight: 400;
        line-height: 30px;
    }

    .section1-1-2 {
        width: 75.68%;
        height: auto;
        aspect-ratio: 551 / 367;
    }


    .section2 {
        padding: 140px 20px;
    }

    .section2-1 {
        flex-direction: column;
        row-gap: 100px;
        align-items: center;
    }

    .section2-1-1 {
        margin-right: 0;
        align-items: center;
        width: 100%;
    }

    .section2-container {
        align-items: center;
        text-align: center;
    }

    .section2-heading {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }

    .section2-1-2 {
        width: 75.68%;
        height: auto;
        aspect-ratio: 551 / 367;
    }


    .section3 {
        flex-direction: column-reverse;
        row-gap: 100px;
        column-gap: 0px;
        align-items: center;
        margin: 0 auto;
    }

    .section3-1 {
        width: 100%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .section3-1-container {
        align-items: center;
        text-align: center;
    }

    .section3-head {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
        text-align: center;
    }

    .section3-content {
        text-align: center;
    }

    .WTImg {
        width: 62.36%;
        ;
    }



    .section4 {
        padding: 140px 20px;
    }

    .section4-1 {
        flex-direction: column;
        row-gap: 100px;
        align-items: center;
    }

    .section4-1-1 {
        align-items: center;
        width: 100%;
    }

    .section4-container {
        align-items: center;
        text-align: center;
    }

    .section4-heading {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }


    .section4-1-2 {
        width: 72.52%;
        height: auto;
        aspect-ratio: 557 / 388.93;
    }

    .section4-heading .underline-your-needs {
        position: relative;
    }

    .section4-heading .underline-your-needs .BG4 {
        left: 0;
    }



    .section5 {
        padding: 140px 0px;
    }

    .section5-heading {
        font-size: 54px;
        line-height: 65.35px;

    }

    .section5-content {
        width: 100%;
    }

    .section5-1-1 {
        margin: 0px;
        padding: 0px 20px;
    }

    .plan-card {
        padding-left: 44px;
        padding-right: 44px;
    }

    .highlighted-card {
        column-gap: 12px;
    }

    .section5-cards {
        display: flex;
        overflow-x: auto;
        justify-content: start;
        gap: 32px;
        padding-left: 20px;
        padding-right: 20px;
        scroll-snap-align: center;
    }

    .plan-card {
        flex: 0 0 384px;
        padding-left: 44px;
        padding-right: 44px;
        margin: 41.5px 0;
    }

    .highlighted-card {
        column-gap: 12px;
    }

    .section6 {
        padding: 140px 2.60%;
    }

    .section-heading {
        font-size: 54px;
        line-height: 65.35px;
    }

    .section-6 {
        width: 100%;
        align-items: start;
        text-align: start;
    }

    .section6-container {
        align-items: start;
        text-align: start;
    }

    .TT-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 19.36px;
        width: 185px;
        height: 59px;
    }

    .section7 {
        padding: 140px 2.60%;
    }

    .section7-1 {
        flex-direction: column-reverse;
        row-gap: 100px;
        column-gap: 0px;
        align-items: center;
    }

    .section7-1-1 {
        align-items: center;
        flex: none;
        width: 100%;
    }

    .section7-container {
        align-items: center;
        text-align: center;
    }

    .section7-heading {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }

    .data-image {
        width: 70.46%;
        aspect-ratio: 513 / 287.11;
        flex: none;
    }

    .RM-btn {
        height: 59px;
        width: 184px;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
    }

    .section8 {
        padding: 140px 2.60%;
    }

    .section8-heading {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }

    .section8-logos {
        flex-direction: column;
        row-gap: 100px;
    }



    .section9 {
        padding: 140px 2.60%;
    }

    .section9-1 {
        flex-direction: column;
        row-gap: 100px;
        column-gap: 0px;
        align-items: center;
    }

    .section9-1-1 {
        align-items: center;
        flex: none;
        width: 100%;
    }

    .section9-container {
        align-items: center;
        text-align: center;
    }

    .section9-heading {
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }

    .Apps-Img {
        width: 66.62%;
        aspect-ratio: 485 / 392.33;
        flex: none;
    }

    .RM2-btn {
        height: 63px;
        width: 205px;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }

    .section10 {
        padding: 140px 0px;
    }

    .section10-heading {
        font-size: 54px;
        line-height: 65.35px;
    }

    .section10-1-1 {
        margin: 0px 20px;
    }

    .Card-View {
        padding-left: 10px;
        padding-right: 10px;
    }

    .Arrow-Nav {
        display: none;
    }


    .horizontal-bullets {
        display: flex;
        justify-content: center;
        gap: 12px;
        list-style: none;
        padding-bottom: 100px; 
    }
    
    .horizontal-bullets li {
        width: 12px;
        height: 12px;
        background-color: #4F9CF9; 
        border-radius: 50%;
    }
    
    .horizontal-bullets li.highlighted-bullet {
        background-color: #043873; 
    }
    

    .footer-container {
        row-gap: 100px;
    }

    .footer-top {
        flex-direction: column;
        row-gap: 100px;
        padding-bottom: 0px;
        border-bottom: none;
        text-align: center;
        align-items: center;
    }

    .footer-branding {
        align-items: center;
    }

    .f13 {
        align-items: center;
    }

    .footer-bottom {
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        align-items: center;
    }

    .footer-info {
        width: 100%;
        justify-content: space-between;
        column-gap: 0px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(46, 78, 115, 1);
    }

    .footer-social-medias {
        column-gap: 32px;
    }

    .footer-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 19.36px;
        width: 187px;
        height: 59px;
        align-items: center;
    }

    .footer-btns {
        width: 28.55%;
    }

    .underline-customise img {
        width: 120%; 
    }
    .underline-plan img {
        width: 120%; 
    }

}


@media screen and (max-width: 320px) {
    body {
        background-position-y: 0px;
    }


    .nav-header {
        height: 56px;
        padding: 16px;
        width: 100%;
    }

    .whitespace-logo {
        height: 24px;
        width: 134px;
    }

    .logo-text {
        color: #4F9CF9;
        font-weight: 700;
        font-size: 19.64px;
        line-height: 23.77px;
    }

    .nav-list {
        height: 24px;
    }


    .section1 {
        padding: 80px 5%;
    }

    .section1-1-1 {
        height: fit-content;
    }

    .section1-container {
        height: fit-content;
    }

    .section1-heading {
        font-size: 36px;
        line-height: 43.57px;
    }

    .section1-1-2 {
        width: 100%;
        aspect-ratio: 288 / 191;
    }


    .section2 {
        padding: 80px 5%;
    }

    .section2-1-1 {
        height: fit-content;
    }

    .section2-container {
        height: fit-content;
    }

    .section2-heading {
        font-size: 36px;
        line-height: 43.57px;
    }

    .section2-1-2 {
        width: 100%;
        aspect-ratio: 288 / 191;
    }

    .section3-1 {
        height: fit-content;
    }

    .section3-1-container {
        height: fit-content;
    }

    .section3-head {
        font-size: 36px;
        line-height: 43.57px;
    }

    .WTImg {
        width: 100%;
    }


    .section4 {
        padding: 80px 5%;
    }

    .section4-1-1 {
        height: fit-content;
    }

    .section4-container {
        height: fit-content;
    }

    .section4-heading {
        font-size: 36px;
        line-height: 43.57px;
    }

    .section4-1-2 {
        width: 100%;
        aspect-ratio: 284 / 198;
    }

    .section4-heading .underline-needs {
        position: relative;
    }

    .section4-heading .underline-needs .BG1 {
        left: 0;
    }



    .section5-heading {
        font-size: 36px;
        line-height: 43.57px;

    }

    .plan-card {
        width: 289px;
        padding: 20px;
    }


    .section5-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        margin-top: 20px;
    }


    .horizontal-bullets {
        display: flex;
        justify-content: center;
        gap: 12px;
        list-style: none;
    }

    .horizontal-bullets li {
        width: 12px;
        height: 12px;
        background-color: #4F9CF9;
        border-radius: 50%;
    }

    .horizontal-bullets li.highlighted-bullet {
        background-color: #043873;
    }

    .section6 {
        padding: 100px 5% 140px 5%;
    }

    .section6-1 {
        width: 100%;
    }

    .section6-heading {
        font-size: 36px;
        line-height: 43.57px;
    }

    .TT-btn {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        width: 193px;
        height: 70px;
    }

    .section7 {
        padding: 80px 5%;
    }

    .section7-1-1 {
        height: fit-content;
    }

    .section7-container {
        height: fit-content;
    }

    .section7-heading {
        font-size: 36px;
        line-height: 43.57px;
        padding: 0px;
    }

    .data-img {
        width: 100%;
        aspect-ratio: 288 / 162.58;
    }

    .RM-btn {
        height: 70px;
        width: 193px;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    .section8 {
        padding: 80px 16px;
    }

    .section8-heading {
        font-size: 36px;
        line-height: 43.57px;
    }

    .section9 {
        padding: 80px 5%;
    }

    .section9-1 {
        height: fit-content;
    }

    .section9-container {
        height: fit-content;
    }

    .section9-heading {
        font-size: 36px;
        line-height: 43.57px;
    }

    .Apps-Img {
        width: 100%;
        aspect-ratio: 286.5 / 231.76;
    }

    .RM2-btn {
        height: 70px;
        width: 193px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }

    .section10-heading {
        font-size: 36px;
        line-height: 43.57px;
    }

    .footer {
        padding: 140px 16px 32px 16px;
    }


    .footer-top {
        row-gap: 80px;
    }

    .footer-container {
        row-gap: 80px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .footer-btns {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .footer-btns-description {
        text-align: center;
        width: 100%;
    }

    .footer-btn {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }

    .section10-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }

    
    #UT1 img {
        display: none;
    }

    #UT2 {
        display: block;
        width: 60%; 
        text-align: center;
        margin-top: 5px;
    }

    #UT2 img {
        width: 100%; 
        position: relative;
        display: block;
        margin: 0 auto; 
    }

    .underline-customise img {
        width: 100%; 
    }

    .underline-plan img {
        width: 100%;
    }

    .underline-you-are img {
        width: 120%; 
    }
}









